body {
    height: 100%;
}

.layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2em;
    align-items: center;
    height: calc(90vh - 10px);
}

.endpoint {
    display: grid;
    grid-template-rows: min-content min-content auto;
    grid-column-gap: 2em;
    height: calc(80vh - 10px);
    margin-left: 2em;
}

.endpoint h1 {
    font-size: 3.5em;
}

.endpoint-container {
    display: grid;
    row-gap: 1em;
}

.endpoints {
    display: flex;
    flex-direction: column;
}

.endpoints a {
    margin: 1em;
}

.parameters {
    display: flex;
    grid-column-start: 1;
    grid-row-start: 2;
    column-gap: 2em;
}

.parameters a {
    padding: 5px;
}

.client {
    grid-column-start: 1;
    grid-row-start: 3;
}

@media (max-width: 600px) {
    body {
        font-size: small;
    }

    .endpoints {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 1em;
    }

    .endpoints a {
        padding: 5px;
        margin: 0;
        min-width: 50%;
    }

    .endpoint {
        margin-left: 0%;
    }
}